@*@model List<Application.Students.StudentViewModel>*@

@{
    ViewData["Title"] = "Home Page";
}
@*<button id="btn-load">Load Student</button>
<div id="cover"></div>*@
<div id="table-content"></div>
<div id="pagination"></div>
@section Scripts{
    @*<script src="~/js/demo.js"></script>*@
    <script src="~/js/twb-pgination.js"></script>
    <script src="~/js/student.js"></script>
}
