@using Application.Students;
@model StudentViewModel
@{
    ViewData["Title"] = "UpdateStudent";
}

<h1>UpdateStudent</h1>
<form method="post" action="/Home/SaveUpdate">
    @Html.AntiForgeryToken()
    <div>
        <input type="hidden" name="Id" value="@Model.Id" />
        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" />
        <label>Age</label>
        <input type="number" name="Age" value="@Model.Age" />
    </div>
    <button>Save</button>
</form>
